<header>
    <h1>Shop</h1>
    <div class="burger-button" (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>
    </div>
    <nav >
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">Blog</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
</header>
