<div class="product-list">
    <!-- Pour debug : afficher le tableau brut en JSON -->
    <!-- <pre>{{ products() | json }}</pre> -->
    @for (product of listProduct(); track product.id) {
    <div class="product-card">
        <img [src]="product.image" [alt]="product.name">
        <h3>{{ product.name | uppercase }}</h3>
        <p>{{ product.description }}</p>
        <p class="categories">
            Catégories : {{ product.categories | json }}
        </p>
        <p class="price">
            <span class="sold">{{ product.soldPrice | currency:'XAF':'symbol' }}</span>
            <span class="regular">{{ product.regularPrice | currency:'XAF':'symbol' }}</span>
        </p>
        <p class="date">
            Ajouté le {{ product.createdAt | date:'dd/MM/yyyy' }}
        </p>
    </div>
    }
</div>