<section>
  <div>Créez votre compte</div>
  <div>Faites vos achat en un clic sur shopping app</div>
  <div>
    <div>
      <img src="" alt="">
      S'inscrire avec google
    </div>
    <div>ou</div>
    <form action="">
      <div>
        <label for="name">Nom complet</label>
        <input type="text" placeholder="Nom complet">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" placeholder="[EMAIL_ADDRESS]">
      </div>
      <div>
        <label for="password">Mot de passe</label>
        <input type="password" placeholder="Mot de passe">
      </div>
      <div>
        <input type="checkbox" name="" id="">
        <label for="">
          J'accepte les conditions d'utilisation et la politique de confidentialité
        </label>
      </div>
      <div>
        <button>S'inscrire</button>
      </div>
    </form>
  </div>
</section>
