@if (product) {
<div class="modal-product-view-overlay" (click)="onClose()"></div>
<div class="modal-product-view-container">
 <div class="modal-product-view-image">
  <img [src]="product.image" [alt]="product.name">
 </div>
 <div class="modal-product-view-details">
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <h4>Prix soldé: {{ product.soldPrice }} FCFA</h4>
  <h4>Prix régulier: {{ product.regularPrice }} FCFA</h4>
  <p>Créé le {{ product.createdAt | date:'dd/MM/yyyy' }}</p>
 </div>
 <button class="btn btn-close" (click)="onClose()">Fermer</button>
</div>
}