/* You can add global styles to this file, and also import other style files */

:root{
    --primary-color: rgb(13, 189, 13);
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
svg{
    width: 16px;
    height: 16px;
}